.jumbotron {
  background-color: #999900;
  color: #2F4F4F;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  background-color: #008000;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #000000;
}
footer a {
  color: #000000;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
  color: #FF0000;
}
.tab-content {
  padding-top: 10px;
}
